<% wrap_layout :inner do %>
  <% content_for :sidebar do %>
    <div class="docs-sidebar hidden-print affix-top" role="complementary">
      <ul class="nav docs-sidenav">
        <li<%= sidebar_current("docs-home") %>>
          <a href="/docs/providers/index.html">All Providers</a>
        </li>

        <li<%= sidebar_current("docs-cloudsigma-index") %>>
          <a href="/docs/providers/cloudsigma/index.html">CloudSigma Provider</a>
        </li>

        <li<%= sidebar_current("docs-cloudsigma-resource") %>>
          <a href="#">Resources</a>
          <ul class="nav nav-visible">
            <li<%= sidebar_current("docs-cloudsigma-resource-ssh-key") %>>
              <a href="/docs/providers/cloudsigma/r/ssh_key.html">cloudsigma_ssh_key</a>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  <% end %>

  <%= yield %>
<% end %>
